* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --DarkBlue: #000029;
  --White: #fff;
}

html {
  overflow-x: hidden;
}
/*                          Body                        */
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  background-color: var(--DarkBlue);
  overflow-x: hidden;
}
/*                         NAV                         */

/*                     LogoSection                     */

/*                        Menu                        */
/* .menu {
} */

/*                        Main                        */
/* .Home {
  border: 2px solid red;
  height: 90vh;
  overflow: hidden;
} */

/*                   Media queries 425px              */
@media screen and (max-width: 425px) {
  nav {
    display: flex;
    justify-content: space-between;
    background-image: url(Main-img/Neon\ triangles.jpg);
    background-size: cover;
    position: relative;
    align-items: center;
    height: 8vh;
  }

  .logoSection {
    position: relative;
    margin-left: 10px;
    width: 50%;
  }

  .logoSection img {
    height: auto;
    width: 35%;
  }

  .logoSection a {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

  .burger {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s ease-in-out;
  }

  .menu {
    position: absolute;
    z-index: 2;
    top: 8vh;
    right: 0;
    width: 100%;
    height: 92vh;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    background-color: var(--DarkBlue);
    overflow-x: hidden;
  }

  .menu a {
    font-size: 15px;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .menu li {
    list-style: none;
  }

  .menu a {
    text-decoration: none;
    color: white;
  }

  .menuActive {
    transform: translateX(0);
    overflow-x: hidden;
    z-index: 2;
  }

  .burger.active .line:first-child {
    transform: rotate(-45deg) translateY(11px);
  }

  .burger.active .line:nth-child(2) {
    transform: scale(0);
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(45deg) translateY(-11px);
  }

  .Home {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .wallpaper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .wallpaper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fade 30s infinite linear;
  }

  .wallpaper img:nth-child(2) {
    animation-delay: 10s;
  }
  .wallpaper img:nth-child(3) {
    animation-delay: 20s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    5% {
      opacity: 1;
    }

    33.33% {
      opacity: 1;
    }

    38.33% {
      opacity: 0;
      transform: scale(1.15);
    }

    100% {
      opacity: 0;
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
  }
}
